@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,500;700,900;800;400&display=swap');

body {
  font-family:"Roboto", sans-serif;
  line-height: 1.7;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: 800 !important;
}
  a{
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 800;
  color: #20212c;
} 
 .navbar{ 
  box-shadow: 0 12px 20px rgba(0,0,0,0.1);
 }
section{   
  padding-top: 80px;
  padding-bottom: 80px;
  z-index:2;
  position: relative;
} 
.yyy {
  color: #7a5946;
}

 .bg-cover{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
} 
 .overlay{
  position: absolute;
  background: linear-gradient(rgba(196, 7, 254, 0.527), rgba(0, 152, 254, 0.7));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

} 
 .hero-section{
 min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  
.btn{
  padding: 14px 22px;
  transition: all 0.3s ease;
}
.btn-main{
  background: linear-gradient(to right,#00e0fe,#1107fe);
  border-radius: 100px;
  border: none;
  font-weight:600;
  color: #fff;
}
.btn:hover {
  color: #fff;
  transform: translateY(-5px);
}
.section-intro{
  margin-bottom: 30px;
} 
.section-intro .divider{
 height: 4px;
 width: 70px;
 background: linear-gradient(to right,#00e0fe,#1107fe);
 padding-top: 20px;
 
} 
img{
  width: 69%;
  
} 

 .service .service-image{
  position: relative;

 
}
.service .service-image .icon i{ 
  width: 90px;
   height:90px;  
  background: linear-gradient(to right,#00e0fe,#1107fe); 
 color: white;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom:-45px;
  left: 50%;
  transform: translateX(-40%);
  

}
.service .service-image .icon i{
 font-size: 42px;
}   
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
 background: -webkit-linear-gradient(#00e0fe,#1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video-btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(to right,#00e0fe,#1107fe); 
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color:#fff;
}
.video-btn i{
  font-size: 32px;
}
.review{
  box-shadow:0 12px 20px rgba(0,0,0,0.1);
 
}
 .review .person{
  display: flex;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.07);
  border-bottom: 18px;
 
} 
.review .person img{
  width: 75px;
  height: 75px;
  border-radius: 100%;
} 
.review .star{
  color: orangered;
}
form .form-control{
 border-radius: 0;
  background: transparent;
  border-color: rgba(255,255,255,0.5);
}
form .form-control:focus{
  color: white;
  background-color: transparent;
  color: white;
border-color: #fff;
}


form input .form-control{
  height: 40px;
}

form .form-control::placeholder{
  color: #fff;
}
footer{
  background: linear-gradient(to right,#00e0fe,#1107fe); 
  color: #fff;
}
footer a{
  color: #fff;
}

body {
  position: relative;
  height: 100%;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

 .img_box{
  width: 100%;
} 



